#index-items .collection{
    margin-top: 30px;
}

#index-items .collection-item{
    cursor: pointer;
	transition: all 0.2s linear;
}

#index-items .collection-item:hover{
    background-color: #ddd;
}